.default-theme-wrapper {
  .dropdown-container {
    .label {
      font-size: 1rem;
      color: theme('colors.ink');
      margin: 6px;
    }

    .dropdown-wrapper {
      .dropdown-button {
        background-color: theme('colors.paper-light');
        padding: 0.25rem 0.5rem 0.3rem 0.5rem;
        border: 2px solid theme('colors.ink-light');
        border-radius: 3px;

        &:hover {
          border: 2px solid theme('colors.ink-dark');
        }

        &.active {
          background-color: theme('colors.paper');
          outline: none;
        }
      }

      .dropdown-list {
        overflow-y: scroll;
        background-color: theme('colors.paper-light');
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        border-radius: 0 0 3px 3px;

        .dropdown-item {
          background-color: theme('colors.paper-light');
          padding: 0.25rem 1.5rem 0.3rem 1.5rem;

          &:hover {
            background-color: theme('colors.paper');
          }

          &.active {
            background-color: theme('colors.accent-light');
            color: theme('colors.ink');
          }
        }
        .dropdown-item:last-child {
          border-radius: 0 0 3px 3px;
        }
      }
    }
  }
}
