.default-theme-wrapper {
  .radio-input-container {
    label {
      display: flex;
      margin: 10px 15px;
    }
    .input {
      box-shadow: 0px 0px 0px 2px var(--accent-light);
      font-size: 3em;
      width: 25px;
      height: 25px;
      margin-right: 7px;
      background-color: var(--paper-light);
      border: 2px solid var(--paper-light);
      background-clip: border-box;
      border-radius: 50%;
      appearance: none;
      transition: background-color 0.3s, box-shadow 0.3s;
      cursor: pointer;
    }
    .input:checked {
      box-shadow: 0px 0px 0px 2px var(--accent);
      background-color: var(--accent);
    }
  }
}
