.default-theme-wrapper {
  .radio-input-container {
    .label {
      display: flex;
      color: theme('colors.ink');
      margin-top: 3px;
    }
    .input {
      box-shadow: 0px 0px 0px 2px theme('colors.ink');
      font-size: 3em;
      width: 25px;
      height: 25px;
      margin: 0 5px 0 0;
      background-color: theme('colors.paper-light');
      border: 2px solid theme('colors.paper-light');
      background-clip: border-box;
      border-radius: 50%;
      appearance: none;
      transition: background-color 0.3s, box-shadow 0.3s;
      cursor: pointer;
    }
    .input:checked {
      box-shadow: 0px 0px 0px 2px theme('colors.ink-dark');
      background-color: theme('colors.ink-dark');
    }
  }
}
