.default-theme-wrapper {
  @mixin track-styles {
    appearance: none;
    background: transparent;
    border: transparent;
  }

  @mixin thumb-styles {
    appearance: none;
    pointer-events: all;
    width: 16px;
    height: 16px;
    border-radius: 0px;
    border: 0 none;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .rangeslider-container {
    position: relative;
    width: 100%;
    height: calc(#{16px} + 1.6rem);
    display: flex;
    align-items: center;
    margin: 40px calc(#{16px} / 2);
    padding-top: 1.6rem;
    color: theme('colors.ink');
    .rangeslider-wrapper {
      position: absolute;
      width: calc(100% + #{16px});
      height: 16px;
      margin: 0 calc(#{16px} / -2);
    }
    .range-input {
      position: absolute;
      width: 100%;
      pointer-events: none;
      appearance: none;
      height: 100%;
      opacity: 0;
      z-index: 3;
      padding: 0;

      &::-ms-track {
        @include track-styles;
      }

      &::-moz-range-track {
        @include track-styles;
      }

      &:focus::-webkit-slider-runnable-track {
        @include track-styles;
      }

      &::-ms-thumb {
        @include thumb-styles;
      }

      &::-moz-range-thumb {
        @include thumb-styles;
      }

      &::-webkit-slider-thumb {
        @include thumb-styles;
      }
    }
    .range-control-wrapper {
      position: absolute;
      width: 100%;
      height: 16px;
      .range-rail {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 6px;
        transform: translateY(-50%);
        border-radius: 3px;
        background: theme('colors.paper-dark');
      }
      .range-inner-rail {
        position: absolute;
        height: 100%;
        background: theme('colors.ink-light');
        opacity: 0.5;
      }
      .range-control {
        position: absolute;
        z-index: 2;
        top: 50%;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        background: theme('colors.ink');
        margin-left: calc(#{16px} / -2);
        transform: translate3d(0, -50%, 0);
        .range-control-indicator {
          position: absolute;
          top: -36px;
          left: -8px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: theme('colors.ink');
        }
      }
    }
  }
}
