.default-theme-wrapper {
  .switch-container {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    background-color: theme('colors.ink');
    padding: 6px;
    border-radius: 6px;
    .switch-wrapper {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 300px;
      background-color: theme('colors.ink');
      border-radius: 3px;
      overflow: hidden;
      cursor: pointer;
    }

    .switch-option {
      flex: 1;
      text-align: center;
      padding: 4px 16px;
      z-index: 1;
      color: theme('colors.paper-light');
      transition: color 0.4s ease;
    }

    .switch-option.selected {
      color: theme('colors.ink');
    }

    .switch-highlight {
      position: absolute;
      top: 0;
      left: 0;
      width: 33.33%;
      height: 100%;
      background-color: theme('colors.paper-light');
      border-radius: 3px;
      transition: transform 0.4s ease;
      z-index: 0;
    }
  }
}
