.techfriendly-theme-wrapper {
  .checkbox-wrapper {
    .label {
      display: flex;
      color: theme('colors.primary');
      margin-top: 3px;
    }
    .checkbox {
      box-shadow: 0px 0px 0px 2px theme('colors.accent');
      font-size: 3em;
      width: 25px;
      height: 25px;
      background-color: theme('colors.paper-light');
      margin: 0 5px 0 0;
      border: 2px solid theme('colors.paper-light');
      background-clip: border-box;
      border-radius: 6px;
      appearance: none;
      transition: background-color 0.3s, box-shadow 0.3s;
      cursor: pointer;
    }
    .checkbox:hover {
      background-color: theme('colors.tertiary-light');
      box-shadow: 0px 0px 0px 2px theme('colors.accent-dark');
    }
    .checkbox:checked {
      box-shadow: 0px 0px 0px 2px theme('colors.accent-dark');
      background-color: theme('colors.accent-dark');
    }
  }
}
