.techfriendly-theme-wrapper {
  // Primary
  .rangeslider-container.primary {
    color: theme('colors.primary');
    .rangeslider-wrapper {
    }
    .range-control-wrapper {
      .range-rail {
        background: theme('colors.paper-dark');
      }
      .range-inner-rail {
        background: theme('colors.primary-light');
      }
      .range-control {
        background: theme('colors.primary');
        .range-control-indicator {
          color: theme('colors.primary');
        }
      }
    }
  }

  // Secondary
  .rangeslider-container.secondary {
    color: theme('colors.secondary');
    .rangeslider-wrapper {
    }
    .range-control-wrapper {
      .range-rail {
        background: theme('colors.paper-dark');
      }
      .range-inner-rail {
        background: theme('colors.secondary-light');
      }
      .range-control {
        background: theme('colors.secondary');
        .range-control-indicator {
          color: theme('colors.secondary');
        }
      }
    }
  }

  // Tertiary
  .rangeslider-container.tertiary {
    color: theme('colors.tertiary');
    .rangeslider-wrapper {
    }
    .range-control-wrapper {
      .range-rail {
        background: theme('colors.paper-dark');
      }
      .range-inner-rail {
        background: theme('colors.tertiary-light');
      }
      .range-control {
        background: theme('colors.tertiary');
        .range-control-indicator {
          color: theme('colors.tertiary');
        }
      }
    }
  }

  // Accent
  .rangeslider-container.accent {
    color: theme('colors.accent');
    .rangeslider-wrapper {
    }
    .range-control-wrapper {
      .range-rail {
        background: theme('colors.paper-dark');
      }
      .range-inner-rail {
        background: theme('colors.accent-light');
      }
      .range-control {
        background: theme('colors.accent');
        .range-control-indicator {
          color: theme('colors.accent');
        }
      }
    }
  }

  // Ink
  .rangeslider-container.ink {
    color: theme('colors.ink');
    .rangeslider-wrapper {
    }
    .range-control-wrapper {
      .range-rail {
        background: theme('colors.paper-dark');
      }
      .range-inner-rail {
        background: theme('colors.ink-light');
      }
      .range-control {
        background: theme('colors.ink');
        .range-control-indicator {
          color: theme('colors.ink');
        }
      }
    }
  }

  // Paper
  .rangeslider-container.paper {
    color: theme('colors.paper');
    .rangeslider-wrapper {
    }
    .range-control-wrapper {
      .range-rail {
        background: theme('colors.ink-light');
      }
      .range-inner-rail {
        background: theme('colors.paper-dark');
      }
      .range-control {
        background: theme('colors.paper-light');
        .range-control-indicator {
          color: theme('colors.paper-light');
        }
      }
    }
  }

  // Defaults
  @mixin track-styles {
    appearance: none;
    background: transparent;
    border: transparent;
  }

  @mixin thumb-styles {
    appearance: none;
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    border: 0 none;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .rangeslider-container {
    position: relative;
    width: 100%;
    height: calc(#{16px} + 1.6rem);
    display: flex;
    align-items: center;
    margin: 40px calc(#{16px} / 2);
    padding-top: 1.6rem;
    .rangeslider-wrapper {
      position: absolute;
      width: calc(100% + #{16px});
      height: 20px;
      margin: 0 calc(#{16px} / -2);
    }
    .range-input {
      position: absolute;
      width: 100%;
      pointer-events: none;
      appearance: none;
      height: 100%;
      opacity: 0;
      z-index: 3;
      padding: 0;

      &::-ms-track {
        @include track-styles;
      }

      &::-moz-range-track {
        @include track-styles;
      }

      &:focus::-webkit-slider-runnable-track {
        @include track-styles;
      }

      &::-ms-thumb {
        @include thumb-styles;
      }

      &::-moz-range-thumb {
        @include thumb-styles;
      }

      &::-webkit-slider-thumb {
        @include thumb-styles;
      }
    }
    .range-control-wrapper {
      position: absolute;
      width: 100%;
      height: 20px;
      .range-rail {
        position: absolute;
        top: 50%;
        width: 100%;
        height: 8px;
        transform: translateY(-50%);
        border-radius: 9999px;
      }
      .range-inner-rail {
        position: absolute;
        height: 100%;
      }
      .range-control {
        position: absolute;
        z-index: 2;
        top: 50%;
        width: 20px;
        height: 20px;
        border-radius: 9999px;
        margin-left: calc(#{16px} / -2);
        transform: translate3d(0, -50%, 0);
        .range-control-indicator {
          position: absolute;
          top: -36px;
          left: -8px;
          width: 32px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
