.techfriendly-theme-wrapper {
  .switch-container {
    width: 100%;
    max-width: 300px;
    height: fit-content;
    padding: 6px;
    border-radius: 9999px;
    .switch-wrapper {
      display: flex;
      position: relative;
      width: 100%;
      max-width: 300px;
      border-radius: 9999px;
      overflow: hidden;
      cursor: pointer;
    }

    .switch-option {
      flex: 1;
      text-align: center;
      padding: 4px 16px;
      z-index: 1;
      transition: color 0.4s ease;
    }

    .switch-option.selected {
    }

    .switch-highlight {
      position: absolute;
      top: 0;
      left: 0;
      width: 33.33%;
      height: 100%;
      border-radius: 9999px;
      transition: transform 0.4s ease;
      z-index: 0;
    }
  }
  // Primary
  .switch-container.primary {
    background-color: theme('colors.primary');
    .switch-wrapper {
      background-color: theme('colors.primary');
    }
    .switch-option {
      color: theme('colors.paper-light');
    }
    .switch-option.selected {
      color: theme('colors.paper-light');
    }
    .switch-highlight {
      background-color: theme('colors.accent');
    }
  }
  // Secondary
  .switch-container.secondary {
    background-color: theme('colors.secondary-dark');
    .switch-wrapper {
      background-color: theme('colors.secondary-dark');
    }
    .switch-option {
      color: theme('colors.paper-light');
    }
    .switch-option.selected {
      color: theme('colors.paper-light');
    }
    .switch-highlight {
      background-color: theme('colors.accent');
    }
  }
  // Tertiary
  .switch-container.tertiary {
    background-color: theme('colors.tertiary-light');
    .switch-wrapper {
      background-color: theme('colors.tertiary-light');
    }
    .switch-option {
      color: theme('colors.primary-dark');
    }
    .switch-option.selected {
      color: theme('colors.primary-dark');
    }
    .switch-highlight {
      background-color: theme('colors.accent-light');
    }
  }
  // Accent
  .switch-container.accent {
    background-color: theme('colors.accent-light');
    .switch-wrapper {
      background-color: theme('colors.accent-light');
    }
    .switch-option {
      color: theme('colors.paper-light');
    }
    .switch-option.selected {
      color: theme('colors.paper-light');
    }
    .switch-highlight {
      background-color: theme('colors.primary-light');
    }
  }
  // Ink
  .switch-container.ink {
    background-color: theme('colors.ink');
    .switch-wrapper {
      background-color: theme('colors.ink');
    }
    .switch-option {
      color: theme('colors.paper-light');
    }
    .switch-option.selected {
      color: theme('colors.paper-light');
    }
    .switch-highlight {
      background-color: theme('colors.accent');
    }
  }
  // Paper
  .switch-container.paper {
    background-color: theme('colors.paper-light');
    .switch-wrapper {
      background-color: theme('colors.paper-light');
    }
    .switch-option {
      color: theme('colors.ink');
    }
    .switch-option.selected {
      color: theme('colors.ink');
    }
    .switch-highlight {
      background-color: theme('colors.accent-light');
    }
  }
}
