.techfriendly-theme-wrapper {
  // Primary
  .card-container.primary {
    color: theme('colors.paper-light');
    background-color: theme('colors.primary-light');
  }
  // Secondary
  .card-container.secondary {
    color: theme('colors.ink');
    background-color: theme('colors.secondary-light');
  }
  // Tertiary
  .card-container.tertiary {
    color: theme('colors.paper-light');
    background-color: theme('colors.tertiary');
  }
  // Accent
  .card-container.accent {
    color: theme('colors.ink');
    background-color: theme('colors.accent-light');
  }
  // Ink
  .card-container.ink {
    color: theme('colors.paper-light');
    background-color: theme('colors.ink-dark');
  }
  // Paper
  .card-container.paper {
    color: theme('colors.ink');
    background-color: theme('colors.paper-light');
  }

  // Left alignment
  .card-container {
    .card-wrapper.left {
      justify-content: flex-start;
    }
  }
  // Center alignment
  .card-container {
    .card-wrapper.center {
      justify-content: center;
    }
  }
  // Right alignment
  .card-container {
    .card-wrapper.right {
      justify-content: flex-end;
    }
  }
  // Default
  .card-container {
    margin: 0 0 24px 0;
    padding: 24px 24px 36px 24px;
    border-radius: 16px;
    box-shadow: theme('boxShadow.card');
    .card-wrapper {
    }
  }
}
