.techfriendly-theme-wrapper {
  // Variables

  // Colors
  --color-primary-dark: #111c23;
  --color-primary: #1b2934;
  --color-primary-light: #283944;
  --color-secondary-dark: #678193;
  --color-secondary: #7894a3;
  --color-secondary-light: #99b5c1;
  --color-tertiary-dark: #7ebcb6;
  --color-tertiary: #9ad7d2;
  --color-tertiary-light: #d8f4f1;
  --color-accent-dark: #f43e21;
  --color-accent: #f05a39;
  --color-accent-light: #ff874b;
  --color-ink-dark: #101010;
  --color-ink: #231f20;
  --color-ink-light: #807a7a;
  --color-paper-dark: #d3d0c9;
  --color-paper: #e5e2db;
  --color-paper-light: #ffffff;
  // Font Families
  --font-family-headline: 'MADE Dillan', serif;
  --font-family-title: 'MADE Dillan', sans-serif;
  --font-family-subtitle: 'Roboto', sans-serif;
  --font-family-body: 'Roboto', sans-serif;
  --font-family-body: 'Roboto', sans-serif;
  --font-family-caption: 'Roboto', sans-serif;
  // Font Sizes
  --font-size-xxs: clamp(0.75em, 0.5vw, 0.75em);
  --font-size-xs: clamp(0.85em, 0.7vw, 0.9em);
  --font-size-sm: clamp(1em, 1vw, 1.1em);
  --font-size-base: clamp(1.125em, 1.5vw, 1.25em);
  --font-size-lg: clamp(1.5em, 3vw, 2em);
  --font-size-xl: clamp(1.75em, 4vw, 2.5em);
  --font-size-2xl: clamp(2em, 5vw, 3em);
  --font-size-3xl: clamp(2.5em, 7vw, 4em);
  --font-size-4xl: clamp(3.5em, 9vw, 8em);
  // Shadows
  --card-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
