.default-theme-wrapper {
  .accordion-container {
    background-color: theme('colors.paper-light');
    border-radius: 3px;
  }

  .accordion-panel {
    border-bottom: 2px solid theme('colors.ink');
  }
  .accordion-panel:last-child {
    border-bottom: none;
  }
}
