.techfriendly-theme-wrapper {
  .accordion-container {
    background-color: theme('colors.tertiary-light');
    border-radius: 16px;
  }

  .accordion-panel {
    border-bottom: 2px solid theme('colors.tertiary-dark');
  }
  .accordion-panel:last-child {
    border-bottom: none;
  }
}
