/* Merriweather Sans */
@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/merriweather-sans/merriweather-sans-v26-latin-regular.woff2') format('woff2'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-regular.woff') format('woff'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-regular.ttf') format('truetype'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-regular.svg#MerriweatherSans')
      format('svg');
}
/* Merriweather Sans */
@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/merriweather-sans/merriweather-sans-v26-latin-italic.woff2') format('woff2'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-italic.woff') format('woff'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-italic.ttf') format('truetype'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-italic.svg#MerriweatherSans')
      format('svg');
}
/* Merriweather Sans */
@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800.woff2') format('woff2'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800.woff') format('woff'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800.ttf') format('truetype'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800.svg#MerriweatherSans')
      format('svg');
}
/* Merriweather Sans */
@font-face {
  font-display: swap;
  font-family: 'Merriweather Sans';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800italic.woff2') format('woff2'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800italic.woff') format('woff'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800italic.ttf') format('truetype'),
    url('../fonts/merriweather-sans/merriweather-sans-v26-latin-800italic.svg#MerriweatherSans')
      format('svg');
}

/* Newake */
@font-face {
  font-family: 'Newake';
  src: url('../fonts/newake/Newake-Font-Regular.eot') format('oet'),
    url('../fonts/newake/Newake-Font-Regular.ttf') format('ttf'),
    url('../fonts/newake/Newake-Font-Regular.otf') format('otf'),
    url('../fonts/newake/Newake-Font-Regular.woff2') format('woff2'),
    url('../fonts/newake/Newake-Font-Regular.woff') format('woff'),
    url('../fonts/newake/Newake-Font-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Nimbus */
@font-face {
  font-family: 'Nimbus';
  src: url('../fonts/nimbus/TAN-NIMBUS.eot');
  src: url('../fonts/nimbus/TAN-NIMBUS.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nimbus/TAN-NIMBUS.woff2') format('woff2'),
    url('../fonts/nimbus/TAN-NIMBUS.woff') format('woff'),
    url('../fonts/nimbus/TAN-NIMBUS.ttf') format('truetype'),
    url('../fonts/nimbus/TAN-NIMBUS.svg#TAN-NIMBUS') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

/* Nunito Extra Light */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-ExtraLight.eot');
  src: url('../fonts/nunito/Nunito-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-ExtraLight.woff2') format('woff2'),
    url('../fonts/nunito/Nunito-ExtraLight.woff') format('woff'),
    url('../fonts/nunito/Nunito-ExtraLight.ttf') format('truetype'),
    url('../fonts/nunito/Nunito-ExtraLight.svg#Nunito-ExtraLight') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Nunito Regular */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Regular.eot');
  src: url('../fonts/nunito/Nunito-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-Regular.woff2') format('woff2'),
    url('../fonts/nunito/Nunito-Regular.woff') format('woff'),
    url('../fonts/nunito/Nunito-Regular.ttf') format('truetype'),
    url('../fonts/nunito/Nunito-Regular.svg#Nunito-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* Nunito Italic */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Italic.eot');
  src: url('../fonts/nunito/Nunito-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-Italic.woff2') format('woff2'),
    url('../fonts/nunito/Nunito-Italic.woff') format('woff'),
    url('../fonts/nunito/Nunito-Italic.ttf') format('truetype'),
    url('../fonts/nunito/Nunito-Italic.svg#Nunito-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/* Nunito SemiBold */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-SemiBold.eot');
  src: url('../fonts/nunito/Nunito-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-SemiBold.woff2') format('woff2'),
    url('../fonts/nunito/Nunito-SemiBold.woff') format('woff'),
    url('../fonts/nunito/Nunito-SemiBold.ttf') format('truetype'),
    url('../fonts/nunito/Nunito-SemiBold.svg#Nunito-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
/* Nunito SemiBold Italic */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-SemiBoldItalic.eot');
  src: url('../fonts/nunito/Nunito-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-SemiBoldItalic.woff2') format('woff2'),
    url('../fonts/nunito/Nunito-SemiBoldItalic.woff') format('woff'),
    url('../fonts/nunito/Nunito-SemiBoldItalic.ttf') format('truetype'),
    url('../fonts/nunito/Nunito-SemiBoldItalic.svg#Nunito-SemiBoldItalic') format('svg');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
/* Nunito Black */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-Black.eot');
  src: url('../fonts/nunito/Nunito-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-Black.woff2') format('woff2'),
    url('../fonts/nunito/Nunito-Black.woff') format('woff'),
    url('../fonts/nunito/Nunito-Black.ttf') format('truetype'),
    url('../fonts/nunito/Nunito-Black.svg#Nunito-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* Nunito Black Italic */
@font-face {
  font-family: 'Nunito';
  src: url('../fonts/nunito/Nunito-BlackItalic.eot');
  src: url('../fonts/nunito/Nunito-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nunito/Nunito-BlackItalic.woff2') format('woff2'),
    url('../fonts/nunito/Nunito-BlackItalic.woff') format('woff'),
    url('../fonts/nunito/Nunito-BlackItalic.ttf') format('truetype'),
    url('../fonts/nunito/Nunito-BlackItalic.svg#Nunito-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Outfit - 100 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/outfit/outfit-v11-latin-100.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-100.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-100.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-100.svg#Outfit') format('svg');
}
/* Outfit - 200 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/outfit/outfit-v11-latin-200.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-200.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-200.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-200.svg#Outfit') format('svg');
}
/* Outfit - 300 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/outfit/outfit-v11-latin-300.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-300.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-300.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-300.svg#Outfit') format('svg');
}
/* Outfit - 400 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/outfit/outfit-v11-latin-regular.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-regular.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-regular.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-regular.svg#Outfit') format('svg');
}
/* Outfit - 500 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/outfit/outfit-v11-latin-500.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-500.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-500.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-500.svg#Outfit') format('svg');
}
/* Outfit - 600 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/outfit/outfit-v11-latin-600.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-600.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-600.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-600.svg#Outfit') format('svg');
}
/* Outfit - 700 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/outfit/outfit-v11-latin-700.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-700.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-700.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-700.svg#Outfit') format('svg');
}
/* Outfit - 800 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/outfit/outfit-v11-latin-800.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-800.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-800.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-800.svg#Outfit') format('svg');
}
/* Outfit - 900 */
@font-face {
  font-display: swap;
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/outfit/outfit-v11-latin-900.woff2') format('woff2'),
    url('../fonts/outfit/outfit-v11-latin-900.woff') format('woff'),
    url('../fonts/outfit/outfit-v11-latin-900.ttf') format('truetype'),
    url('../fonts/outfit/outfit-v11-latin-900.svg#Outfit') format('svg');
}

/* Salemo */
@font-face {
  font-family: 'Salemo';
  src: url('../fonts/salemo/SalemoRegular.eot');
  src: url('../fonts/salemo/SalemoRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/salemo/SalemoRegular.woff2') format('woff2'),
    url('../fonts/salemo/SalemoRegular.woff') format('woff'),
    url('../fonts/salemo/SalemoRegular.ttf') format('truetype'),
    url('../fonts/salemo/SalemoRegular.svg#SalemoRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Snell Roundhand */
@font-face {
  font-family: 'Snell Roundhand';
  src: url('../fonts/snell-roundhand/SnellRoundhand-BoldScript.eot');
  src: url('../fonts/snell-roundhand/SnellRoundhand-BoldScript.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/snell-roundhand/SnellRoundhand-BoldScript.woff2') format('woff2'),
    url('../fonts/snell-roundhand/SnellRoundhand-BoldScript.woff') format('woff'),
    url('../fonts/snell-roundhand/SnellRoundhand-BoldScript.ttf') format('truetype'),
    url('../fonts/snell-roundhand/SnellRoundhand-BoldScript.svg#SnellRoundhand-BoldScript')
      format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Snell Roundhand */
@font-face {
  font-family: 'Snell Roundhand';
  src: url('../fonts/snell-roundhand/SnellRoundhand-BlackScript.eot');
  src: url('../fonts/snell-roundhand/SnellRoundhand-BlackScript.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/snell-roundhand/SnellRoundhand-BlackScript.woff2') format('woff2'),
    url('../fonts/snell-roundhand/SnellRoundhand-BlackScript.woff') format('woff'),
    url('../fonts/snell-roundhand/SnellRoundhand-BlackScript.ttf') format('truetype'),
    url('../fonts/snell-roundhand/SnellRoundhand-BlackScript.svg#SnellRoundhand-BlackScript')
      format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Snell Roundhand */
@font-face {
  font-family: 'Snell';
  src: url('../fonts/snell-roundhand/SnellBT-Bold.eot');
  src: url('../fonts/snell-roundhand/SnellBT-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/snell-roundhand/SnellBT-Bold.woff2') format('woff2'),
    url('../fonts/snell-roundhand/SnellBT-Bold.woff') format('woff'),
    url('../fonts/snell-roundhand/SnellBT-Bold.ttf') format('truetype'),
    url('../fonts/snell-roundhand/SnellBT-Bold.svg#SnellBT-Bold') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Snell Roundhand */
@font-face {
  font-family: 'Snell';
  src: url('../fonts/snell-roundhand/SnellBT-Regular.eot');
  src: url('../fonts/snell-roundhand/SnellBT-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/snell-roundhand/SnellBT-Regular.woff2') format('woff2'),
    url('../fonts/snell-roundhand/SnellBT-Regular.woff') format('woff'),
    url('../fonts/snell-roundhand/SnellBT-Regular.ttf') format('truetype'),
    url('../fonts/snell-roundhand/SnellBT-Regular.svg#SnellBT-Regular') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Spectral Regular */
@font-face {
  font-family: 'Spectral';
  src: url('../fonts/spectral/Spectral-Regular.eot');
  src: url('../fonts/spectral/Spectral-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/spectral/Spectral-Regular.woff2') format('woff2'),
    url('../fonts/spectral/Spectral-Regular.woff') format('woff'),
    url('../fonts/spectral/Spectral-Regular.ttf') format('truetype'),
    url('../fonts/spectral/Spectral-Regular.svg#Spectral-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Spectral Regular Italic */
@font-face {
  font-family: 'Spectral';
  src: url('../fonts/spectral/Spectral-Italic.eot');
  src: url('../fonts/spectral/Spectral-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/spectral/Spectral-Italic.woff2') format('woff2'),
    url('../fonts/spectral/Spectral-Italic.woff') format('woff'),
    url('../fonts/spectral/Spectral-Italic.ttf') format('truetype'),
    url('../fonts/spectral/Spectral-Italic.svg#Spectral-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* Spectral Bold */
@font-face {
  font-family: 'Spectral';
  src: url('../fonts/spectral/Spectral-Bold.eot');
  src: url('../fonts/spectral/Spectral-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/spectral/Spectral-Bold.woff2') format('woff2'),
    url('../fonts/spectral/Spectral-Bold.woff') format('woff'),
    url('../fonts/spectral/Spectral-Bold.ttf') format('truetype'),
    url('../fonts/spectral/Spectral-Bold.svg#Spectral-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/* Spectral Bold Italic */
@font-face {
  font-family: 'Spectral';
  src: url('../fonts/spectral/Spectral-BoldItalic.eot');
  src: url('../fonts/spectral/Spectral-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/spectral/Spectral-BoldItalic.woff2') format('woff2'),
    url('../fonts/spectral/Spectral-BoldItalic.woff') format('woff'),
    url('../fonts/spectral/Spectral-BoldItalic.ttf') format('truetype'),
    url('../fonts/spectral/Spectral-BoldItalic.svg#Spectral-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* Ziporah */
@font-face {
  font-family: 'Ziporah';
  src: url('../fonts/ziporah/ZiporahRegular.eot');
  src: url('../fonts/ziporah/ZiporahRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ziporah/ZiporahRegular.woff2') format('woff2'),
    url('../fonts/ziporah/ZiporahRegular.woff') format('woff'),
    url('../fonts/ziporah/ZiporahRegular.ttf') format('truetype'),
    url('../fonts/ziporah/ZiporahRegular.svg#ZiporahRegular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
